@import "../../global.scss";

.div-detalle-prod {
	padding: 16px;
	.div-product {
		display: flex;
        flex-direction: column;
		.img-detalle {
            max-width: 80%;
            @media only screen and (min-width: $breakpoint-tablet) {
                &{
                    flex-basis: 680px;
                    max-width: 680px;
                }
            }
            @media only screen and (min-width: $breakpoint-mobile) {
                &{
                    max-width: 60%;
                }
            }
		}
		.div-texto {
			margin-left: 0;
			.p-vendidos {
				font-size: 14px;
				margin-block-start: 16px;
				margin-block-end: 16px;
			}
			.h1-title {
				font-size: 24px;
				margin-block-start: 0;
				margin-block-end: 32px;
			}
			.p-price {
				font-size: 46px;
				margin-block-start: 0;
				margin-block-end: 32px;
				sup {
					font-size: 23px;
				}
			}
			.btn {
				background-color: $blue-light;
				color: #fff;
				border: none;
				text-align: center;
				font-size: 18px;
				border-radius: 4px;
				padding: 10px;
				width: 100%;
				cursor: pointer;
			}
		}

        @media only screen and (min-width: $breakpoint-tablet) {
            &{
                flex-direction: row;
                .div-texto {
                    margin-left: 32px;
                    .p-vendidos {
                        
				margin-block-start: 0;
                    }
                }
            }
        }
	}
    .div-description{
        width: 100%;
        .h2-descripcion{
            font-size: 28px;
            margin-block-start: 32px;
            margin-block-end: 32px;
            font-weight: normal;
        }
        .p-descripcion{
            font-size: 16px;
            margin-block-start: 0;
            margin-block-end: 0;
            color: $gray-999;
        }
        @media only screen and (min-width: $breakpoint-tablet) {
            &{
                width: 680px;
            }
        }
    }

    @media only screen and (min-width: $breakpoint-tablet) {
        padding: 32px;
    }
}
