@import "../../global.scss";

.categories {
	list-style: none;
    padding-inline-start: 0;
    margin-block-start: 16px;
    margin-block-end: 16px;
	li {
		display: inline-block;
        color: $gray-999;
        font-size: 14px;
        &::after{
            margin: 0 5px;
            content: ">";
            font-size: 12px;
        }
        &:last-child{
            font-weight: bold;
        }
        &:last-child::after{
            content: none;
        }
	}
}
